[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "MegaDetector_App/MegaDetector"]
	path = MegaDetector_App/MegaDetector
	url = https://github.com/agentmorris/MegaDetector
